html, body { 
	height: 100%; 
	margin: 0;
  overflow: hidden;
}

.bg-image {
  overflow: hidden;
  background-attachment: fixed;
}

#list-container {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 10;
}

#text-left {
	position: fixed;
  bottom: 2%;
	left: 20px;
	z-index: 10;
	font-style: italic;
}

#text-right {
	position: fixed;
	bottom: 2%;
	right: 20px;
	z-index: 10;
	font-style: italic;
}

#mfa {
  position: fixed;
  top: 10px;
  right: 20px;
  text-align: right;
  z-index: 10;
}

.icon-index:hover, #mfa:hover {
	border-bottom: 2px solid white;
}

#dropdown {
	margin-top: 50px;
}

.type-main {
    color: white;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-style: normal;
    font-size: 28px;
}

.icon {
    position:relative;
    display: block;
    padding-bottom: 18px;
}

.icon-index {
    position:absolute;
    display: block;
    margin-bottom: 18px;
}


a {
	text-decoration: none;
    color: white;
}

.icon span {
    position:absolute;
    display: inline-block;
	left: 300px;
    padding:3px 6px;
    opacity:0;
    transition: 0.2s all ease-out;
}

.icon span img {
	width: 300px;
}

.icon a:hover ~ * {
    opacity:1;
}

.icon a:hover {
    border-bottom: 2px solid white;
}


* {
  box-sizing: border-box;
}

#container {
  width: 55%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row > .column {
  padding: 8px 8px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
}

.column img {
  min-width:100%;
  min-height:100%;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 90%;
  max-width: 1100px;
}

.close {
  color: white;
  position: absolute;
  top: 50px;
  right: 40px;
  font-size: 50px;
  font-weight: 100;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  margin: ;
  width: auto;
  padding: 16px;
  color: white;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 30px;
}

.prev {
  left: 30px;
}

.prev-mobile,
.next-mobile {
  display: none;
}


img {
  margin-bottom: 20px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.column img:hover {
  filter: blur(0px);
  transition: 0.5s;
}

.column img {
  filter: blur(2px);
}

/*.column img:hover {
  transition: 0.3s;
}

.column img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

/*MOBILE !!!!!!!!!!!!!!!!!!*/


@media screen and (max-width: 800px) { 

.type-main {
  color: white;
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 18px;
}

#list-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#text-left {
  position: fixed;
  bottom: 2%;
  left: 10px;
  z-index: 10;
  font-style: italic;
  width: 300px;
}

#text-right {
  position: absolute;
  right: 10px;
  z-index: 10;
  bottom: 2%;
  max-width: 170px;
  color: white;
  display: flex;
  align-items: flex-end;
  direction: rtl;
}

#mfa {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
  z-index: 10;
}

#dropdown {
  margin-top: 30px;
}

.icon {
    position:relative;
    display: block;
    padding-bottom: 8px;
}

.icon-index {
    position:absolute;
    display: block;
    margin-bottom: 8px;
}

#container {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row > .column {
/*  padding: 5px 5px;*/
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
}

.column img {
  min-width:100%;
  min-height:100%;
  object-fit: cover;
}

.prev,
.next {
  display: none;
}

.prev-mobile,
.next-mobile {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
  width: auto;
  color: white;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

.next-mobile {
  right: -15px;
}

.prev-mobile {
  left: -15px;
}

.close {
  color: white;
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 30px;
  font-weight: 100;
}

  }




