html, body { 
	height: 100%; 
	margin: 0;
	overflow: hidden;
}

.bg-image {
  	background-image: url("assets/JUSTIMAGE.jpg");
    transform: scale(1.1);
  	height: 100vh;
  	width: 100vw;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: 0;
  	overflow: hidden;
  	background-attachment: fixed;
}

.blur {
  	background-image: url("assets/BLURIMAGE.jpg");
    transform: scale(1.1);
  	height: 100vh;
  	width: 100vw;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: 0;
  	overflow: hidden;
  	background-attachment: fixed;
}

.no-blur {
  	background-image: url("assets/JUSTIMAGE.jpg");
    transform: scale(1.1);
  	height: 100vh;
  	width: 100vw;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: 0;
  	overflow: hidden;
  	background-attachment: fixed;
}

/*.blur{
  	filter: blur(20px);
  	transition: 2s filter linear;
}
*/
#list-container {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 10;
}

#mfa {
	position: fixed;
	top: 10px;
	right: 20px;
	text-align: right;
	z-index: 10;
}

#text-left {
	position: fixed;
	top: 94%;
	left: 20px;
	z-index: 10;
	font-style: italic;
}

#text-right {
	position: fixed;
	top: 94%;
	right: 20px;
	z-index: 10;
	font-style: italic;
}

#text-right:hover, #text-left:hover, .icon-index:hover {
	border-bottom: 2px solid white;
}

#dropdown {
	margin-top: 50px;
}

.type-main {
    color: white;
	font-family: neue-haas-grotesk-display,sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-style: normal;
    font-size: 28px;
}

.icon {
    position:relative;
    display: block;
    padding-bottom: 18px;
}

.icon-index {
    position:absolute;
    display: block;
    margin-bottom: 18px;
}


.icon a {
	text-decoration: none;
    color: white;
}

.icon span {
    position:absolute;
    display: inline-block;
	left: 300px;
    padding:3px 6px;
    opacity:0;
    transition: 0.2s all ease-out;
}

.icon span img {
	width: 300px;
}

.icon a:hover ~ * {
    opacity:1;
}

.icon a:hover {
    border-bottom: 2px solid white;
}

#article-tenderness, #article-other {
	position: fixed;
	height: 100%;
	width: 60vw;
	top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    overflow: scroll;
    padding: 0 40px;
}

.buffer {
	height: 50px;
	width: 100%;
}

/*MOBILE !!!!!!!!!!!!!!!!!!*/


@media screen and (max-width: 800px) { 

body {
	height: 100vh;
	width: 100vw;
}

.type-main {
  color: white;
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 18px;
}

#list-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#text-left {
  position: fixed;
  top: 96%;
  left: 10px;
  z-index: 10;
  font-style: italic;
}

#text-right {
  position: fixed;
  top: 96%;
  right: 10px;
  z-index: 10;
  font-style: italic;
}

#mfa {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
  z-index: 10;
}

#dropdown {
  margin-top: 30px;
}

.icon {
    position:relative;
    display: block;
    padding-bottom: 8px;
}

.icon-index {
    position:absolute;
    display: block;
    margin-bottom: 8px;
}

#article-tenderness, #article-other {
	position: fixed;
	height: 75%;
	width: 80vw;
	top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    overflow: scroll;
    padding: 0 40px;
}

.buffer {
	height: 0px;
	width: 100%;
}

.bg-image {
  	background-image: url("assets/hindsight.jpg");
  	height: 100vh;
}

.blur {
  	background-image: url("assets/hindsight-blur.png");
}

.no-blur {
  	background-image: url("assets/hindsight.jpg");
}

.icon span {
	display: none;
}

.icon span img {
	display: none;
	width: 300px;
}

}
